.projects {
   width: 1280px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
}
.projects__wrap {
   width: 927px;
   padding-top: 135px;
   padding-bottom: 108px;
}
.projects__content {
   width: 100%;
}
.projects__slider {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   padding-top: 35px;
}

.slider__img {
   margin-top: 76px;
   margin-bottom: 45px;
}
.slider__desc {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   width: 527px;
}
.desc__title h2 {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
}
.desc__content {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   width: 525px;
}
.content__desc {
   width: 203px;
   display: flex;
   padding: 41px 10px;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
}
.desc__subtitle h3 {
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
}
.desc__text h3 {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}
.desc__feedback {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   padding: 34px;
}

.feedback__img img {
   padding: 5px;
}
.feedback__text h3 {
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   padding-bottom: 10px;
}

.feedback__text p {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
}
