.conteiner {
   background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0) 95.44%);
   font-family: "Roboto", sans-serif;
   color: #ffffff;
   margin: 0 auto;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: space-around;
}
